// COLOR PALETTE
$clr1:rgb(148, 88, 106);
$clr2: rgb(173, 128, 147);
$clr3: rgb(208, 134, 143); ///button
$clr4: rgb(232, 165, 188);
$clr5:rgb(240, 224, 224);
// $clr6: #d7d8d8; ////play puse buttons
// $clr7:#f3f3f4; ///odd
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;